<% if coffee.image.attached? %>
  <% image_coffee = cl_image_path coffee.image.key %>
<% else %>
  <% image_coffee = "https://res.cloudinary.com/dak3altpj/image/upload/v1678206484/development/y7vy91bf6jgac7xgz070jr9h68ez.png"  %>
<% end %>

<div class="detail-card">

  <div class="square">
    <img src="<%= image_coffee %>" alt="coffee-image" class="img-square">
  </div>

  <div class="detail-card-description">
    <div>
      <h1><%= coffee.name %></h1>
      <% if coffee.reviews.any? %>
        <%= coffee.reviews.average(:rating).round(1) %>
        <% coffee.reviews.average(:rating).round(1).to_i.times do  %>
            <i class="fa-solid fa-star"></i>
        <% end %>
      <% end %>
    </div>
    <h5>Description</h5>
    <p><%= coffee.description %></p>

    <div class="d-flex justify-content-between align-items-start">
      <h3>Origin</h3>
      <p><%= coffee.origin %></p>
    </div>

    <div class="d-flex justify-content-between align-items-start">
      <h3>Producer</h3>
      <p><%= coffee.producer.name %></p>
    </div>

    <div class="d-flex justify-content-between align-items-start">
      <h3>Brew Method</h3>
      <p><%= coffee.brew_method %></p>
    </div>

    <div class="d-flex justify-content-between align-items-start">
      <h3>Processing</h3>
      <p><%= coffee.processing %></p>
    </div>

    <h3>Flavor</h3>
    <p><%= coffee.flavor %></p>


    <h3>Brew Recipe</h3>
    <p><%= coffee.brew_recipe %></p>


    <% if user_signed_in? %>
      <%= link_to "Save coffee", coffee_bookmarks_path(@coffee), method: :post, data: {turbo_method: :post}, class: "btn-primary-cta" %>
    <% end %>
  <div>




  <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class=" btn-primary-cta reviewbtn">
  Reviews
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% if coffee.reviews.any? %>
        <h3>Reviews(<%= coffee.reviews.count%>)</h3>
        <h3><%= coffee.reviews.average(:rating).round(1) %>/5</h3>
        <% coffee.reviews.each do |review| %>
          <div class= "review-content">
            <div>
              <%= review.user.username%>
            </div>
            <div>
              <% review.rating.to_i.times do  %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            </div>
            <div>
              <%= review.comment %>
            </div>
            <% if review.user == current_user %>
              <%= link_to review_path(review), data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"} do %>
                <div><i class="fa-solid fa-trash"></i></div>
              <% end %>

            <% end %>
          </div>
        <% end %>
          <div class="review-buttons">
          <%= link_to "Add review",  new_coffee_review_path(@coffee), class: "btn-primary-cta" %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        <% else %>
          <%= link_to "Add review",  new_coffee_review_path(@coffee), class: "btn-primary-cta" %>
        <% end %>
    </div>
  </div>

  </div>

</div>
