<% if coffee.image.attached? %>
  <% image_coffee = cl_image_path coffee.image.key %>
<% else %>
  <% image_coffee = "https://res.cloudinary.com/dak3altpj/image/upload/v1678206484/development/y7vy91bf6jgac7xgz070jr9h68ez.png"  %>
<% end %>

<div class="preview-card">

  <div class="square">
    <img src="<%= image_coffee %>" alt="coffee-image" class="img-square">
  </div>

  <div class="preview-card-description">
    <h2><%= coffee.name %></h2>
    <p><%= coffee.brand.name %></p>

    <%= link_to "Learn more", coffee_path(coffee), class: "btn-primary-cta" %>
  </div>

  <%= render "coffees/bookmark", coffee: coffee %>

</div>
