<div class="container chatroom", data-controller="chatroom-subscription"
data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgWnWbRKBww3L6UEsCkXBZC30FW7NY1XBQUNgQhtC3cle06GZnWZe7H0zdLfvsLlWmmpk&usqp=CAU" width="30" height="30">
        <%= render "messages/message", message: message %>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message],
    html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f|%>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
