<%= link_to(coffees_path) do %>
  <i class="fas fa-arrow-left back-btn p-2"></i>
<% end %>
<div class="container chatroom", data-controller="chatroom-subscription"
data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <div><h1><%= @chatroom.name%></h1></div>
  <div class="all">
    <div class="users">
      <%# <div class="user"> %>
        <%= current_user.username %>
        <%# <%= @users.first.username %>
         <% @users.each do |user| %>
          <div class="user">
            <%= user.username %>
          </div>
        <% end %>

      <%# </div> %>
    </div>
    <%# <% raise %>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= simple_form_for [@chatroom, @message],
    html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f|%>
    <%= f.input :content,
      label: false,
      placeholder: "share your idea",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
