<h2><%= producer.name %></h2>
<p><%= producer.address %></p>
<p><%= producer.description %></p> <i class="fa-sharp fa-solid fa-mug-hot"></i>
<p><%= producer.coffees.size %></p>
<p><%=  producer.coffees.name %></p>

