<button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class=" btn-secondary btn-width-100 review-btn-padding">
  Reviews
  </button>
    <div class="dropdown-menu reviews-dropdown" aria-labelledby="dropdownMenuButton1">
      <% if coffee.reviews.any? %>
        <h3>Reviews (<%= coffee.reviews.count%>)</h3>
        <h3><%= coffee.reviews.average(:rating).round(1) %>/5</h3>

        <% coffee.reviews.each do |review| %>
          <div class= "review-content">
            <div>
              <p><%= review.user.username%></p>
            </div>
            <div>
              <p>
                <% review.rating.to_i.times do  %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              </p>
            </div>
            <div>
              <p><%= review.comment %></p>
            </div>
            <% if review.user == current_user %>
              <%= link_to review_path(review), data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"} do %>
                <p><i class="fa-regular fa-trash-can trash-icon"></i></p>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="review-buttons">
          <%= link_to "Add review",  new_coffee_review_path(@coffee), class: "btn-primary-cta btn-width-100 review-btn-padding" %>
          <button type="button" class="btn btn-secondary btn-width-100 review-btn-padding" data-bs-dismiss="modal">Close</button>
        </div>

      <% else %>
        <p>Be the first to leave a review for coffee <%= coffee.name %></p>
        <%= link_to "Add review",  new_coffee_review_path(@coffee), class: "btn-primary-cta btn-width-100 review-btn-padding" %>
      <% end %>
    </div>
  </div>
</div>
